.layout-centered {
    width: 1400px;
    background-color: transparent;
    margin: 20px auto;
    /* box-shadow: -1px -1px 5px black;
    box-shadow: 1px 1px 5px black; */
    padding: 20px;
    

}

.tagline {
    font-size: 28px;
    width: 200px;

}

.groupsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.background {
    width: fit-content;
}

