.cardDiv{
    width: 300px;
    height:200px;
    border-radius:5px;
    padding: 10px;
    margin:10px;
    box-shadow: -1px -1px 5px grey;
    box-shadow: 1px 1px 5px grey;
    background-color: white;
}