.navigationBar {
    padding: 0px;
}

.flex-container-spaced {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-height: 100px;
}
/* .logoutButton_{
    al
} */
.logoutContainer{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}