.loginForm {
    padding: 20px;
    border-radius: 30px;
    width: 500px;
}
.btnLogin {
    border: 0;
    background: transparent;
}

.btnLogin:hover {
    color:orangered;
}

.block {
    display: block;
}

.form-input {
    width: 150px;
    font-size: large;
    margin: 10px;
}

.form-submit {
    border: 0;
    background: orangered;
    margin: 10px;
    padding: 10px 5px;
    color: white;
    width: 60px;
}

